
<div class="container mt-5">
  <ckeditor
  [config]="config"
  [(ngModel)]="model.editorData"
  [editor]="Editor"
  (ready)="onReady($event)"
  (change)="onChange($event)"
  #editor></ckeditor>
  <!-- (change)="onChange($event)" -->
  <br>

  <ckeditor
  class="mt-5 mb-5"
  [disabled]="true"
  [(ngModel)]="model.editorData"
  [editor]="Editor"
  (ready)="onReady($event)"></ckeditor>

  <br>
  <div>{{model.editorData}} </div>
  <h5>Results : </h5>
  <div class="ckeditor" [innerHTML]="model.editorData| safeHtml"> </div>

</div>




